<header>
    <img
    src="assets/img/rodrigo.jpg"
    alt="Rodrigo Gulka - Foto de Perfil"
    width="130px"
    height="130px"
    loading="eager"
/>
     <h1>Rodrigo Samuel Gulka</h1>
</header>

<aside>
    <div class="container">
        <p class="descricao">Desenvolvedor em formação com paixão por tecnologia, buscando sempre aprender e crescer na área de software.</p>
           <p class="descricao"> Esse é meu portfólio feito em AngularJS, espero que goste:</p>

        <section>
            <figure>
                <img
                    src="assets/icons/whatsapp.png" 
                    alt="WhatsApp Icon" 
                     width="28"
                    height="28"
                />

                <figcaption>
                    <a href="https://api.whatsapp.com/send/?phone=5541987943771&text=Ol%C3%A1+Rodrigo%2C+vim+pelo+seu+perfil+no+Angular%21&type=phone_number&app_absent=0"
                    target="_blank">
                    <strong>Fale Comigo:</strong>
                    <p>WhatsApp: (41) 9 8794-3771</p>
                    </a>
                </figcaption>          
            </figure>
             <figure>
                <img
                    src="assets/icons/linkedin.png"
                    alt="LinkedIn Icons"
                     width="28"
                    height="28"
                />

                <figcaption>
                    <a href="https://www.linkedin.com/in/rodrigo-samuel-gulka-544032313"
                    target="_blank">
                    <strong>Confira meu perfil:</strong>
                    <p>Welcome to my Business Profile!</p>
                    </a>
                </figcaption>
            </figure>
            <figure>
                <img
                    src="assets/icons/github.png"
                    alt="GitHub Icons"
                    width="28"
                    height="28"
                />

                <figcaption>
                    <a href="https://www.github.com/rodrigogulka"
                    target="_blank">
                    <strong>GitHub</strong>
                    <p>Confira meus Projetos!</p>
                    </a>
                </figcaption>
            </figure>
            <figure>
                <img
                    src="assets/icons/gmail.png"
                    alt="Gmail Icons"
                    width="28"
                    height="28"
                />

                <figcaption>
                    <a href="mailto:gulkarodrigo@gmail.com"
                    target="_blank">
                    <strong>Gmail</strong>
                    <p>Me envie um e-mail!</p>
                    </a>
                </figcaption>
            </figure>
        </section>
    </div>
</aside>