:root {
    --primary: #070758;
    --primary-010:#2329a0;

    --secondary:#06628a;
    --secondary-010:#ffffff;

    --white:#ffffff;

    --black:#2913a1;
    --black-010:#191970;

    --grey:#b9b7b7;
}